.cover {
  img {
    width: 100%;
    height: auto;
  }
}
.wrap {
  margin-top: -50px;

  .profile-photo {

    .about {
      
    }

    img {
      border: 5px solid #fff;
    }
    
    .name {
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
      font-size: 28px;
    } 

  }
}