<div class="row about">
  <div class="small-12 columns"><h3>About</h3></div>
  <div class="small-12 columns"><b>Email:</b> <a href="mailto:{{model.email}}?Subject=Meow">{{model.email}}</a></div>
  <div class="small-12 columns"><b>Hometown:</b> {{model.hometown}}</div>
  <div class="class-12 columns"><b>Relationship:</b> {{model.relationshipStatus}}</div>
</div>