<header class="row">
  <div class="row">
  	<div class="small-3 small-centered columns"><h1>Catbook</h1></div>
	</div>
</header>

{{#if isLoggedIn}}
  <nav class="top-bar row" data-topbar role="navigation">
    <div class="column">
      <ul class="left">
        <li class="name"><h2>{{#link-to "index"}}Home{{/link-to}}</h2></li>
      </ul>

      <ul class="left">
        <li class="name"><h2>{{#link-to "profile" auth.currentUser}}My Profile{{/link-to}}</h2></li>
      </ul>

      <ul class="left">
        <li class="name"><h2>{{#link-to "account"}}My Account{{/link-to}}</h2></li>
      </ul>

      <ul class="left">
        <li class="name"><h2>{{#link-to "messages"}}Messages{{/link-to}}</h2></li>
      </ul>
    </div>
  </nav>
{{else}}
  <div class="row">
  	<div class="column">
  		<hr>
  	</div>
  </div>
{{/if}}
