{{partial "header"}}

{{outlet}}

{{partial "footer"}}

<div class="js-loader loading-background">
  <div class="loading-wrapper">
    <ul class="loader">
      <li>
        <div class="circle"></div>
        <div class="ball"></div>
      </li>
      <li>
        <div class="circle"></div>
        <div class="ball"></div>
      </li>
      <li>
        <div class="circle"></div>
        <div class="ball"></div>
      </li>
      <li>
        <div class="circle"></div>
        <div class="ball"></div>
      </li>
      <li>
        <div class="circle"></div>
        <div class="ball"></div>
      </li>
    </ul>
    <div class="loading-message">
      <p>Cats love balls.</p>
    </div>
  </div>
</div>