<div class="row">
  <div class="column">
    {{#if isLoggedIn}}
      Hello, {{auth.currentUser.fullName}}
      <button {{action "logout"}}>Logout</button>
    {{else}}
      You are not logged in
    {{/if}}

    {{#each users as |user|}}
      <p>{{user.email}}</p>
    {{/each}}
  </div>
</div>
