<div class="row">
  <div class="column">
    {{#if isLoggedIn}}
      You are logged in
    {{else}}
      You are not logged in
    {{/if}}

    {{#each users as |user|}}
      <p>{{user.email}}</p>
    {{/each}}
  </div>
</div>