// ----------------------------------------------
// Globals
// ----------------------------------------------
html, body {
  height: 100%;
}

// Handle Spanning App Full Window
body {
  height: 100%;

  & > .ember-view {
    min-height: 100%;
    position: relative;

    // Padding for Footer
    padding-bottom: 150px;
  }
}
