// ----------------------------------------------
// Globals
// ----------------------------------------------

// Handle Spanning App Full Window
body {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .ember-view {
    flex: 1;
  }
}
