.app-footer {
  text-align: left;
  margin: 0;
  padding: 15px 0 10px 0;
  font-family: "Indie Flower", cursive;
  font-size: 1.0rem;
  color: #fff;
}

footer {
  width: 100%;
  background: #333;
  height: 100%;
}
