// ----------------------------------------------
// Header
// ----------------------------------------------
.app-title {
  text-align: left;
  margin: 0;
  padding: 15px 0 10px 45px;
  font-family: "Indie Flower", cursive;
  font-size: 3.5rem;
}

.nav-wrapper {
  width: 100%;
  background: #333;
  height: 2.8125rem;
}

.top-bar-logout {
  color: white;
  cursor: pointer;
  padding: 0 15px;
}