// ----------------------------------------------
// Profile
// ----------------------------------------------
.catbook h1 {
  text-align: center;
}
.cover {
  max-height: 400px;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
  }
}

.row .row {
  margin: 0;
}

.wrap {
  background-color: #fff;
  margin-top: -50px;

  .about {
    .close {
      color: red;
    }
    .close-container {
      margin: 5px 0 0 10px;
    }
  }

  .friend {
    height: 40px;
    overflow: hidden;
    img {
      width:40px;
    }
    span {
      margin-left: 5px;
      vertical-align: text-bottom;
    }
  }
  
  .friends {
    min-height: 100px;
  }

  .profile-photo {

    img {
      border: 5px solid #fff;
    }
    
    &.name {
      font-weight: bold;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
      font-size: 28px;
    } 
  }

  .row {
    background-color: #fff;
  }
}